openapi: 3.0.0
info:
  title: WithAI API
  version: "0.0.1"
servers:
  - url: https://www.getwith.ai
paths:
  /api/workflow/create:
    post:
      summary: Create Workflow
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: Natural language description of the workflow
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  workflow:
                    type: object
                    $ref: '#/components/schemas/Workflow'
  /api/workflow/run:
    post:
      summary: Run Workflow
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                workflow:
                  type: object
                  $ref: '#/components/schemas/Workflow'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  executionID:
                    type: string
  /api/workflow/{workflowID}/status:
    parameters:
      - name: workflowID
        in: path
        required: true
        schema:
          type: string
    get:
      summary: Get Workflow Status
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  executionID:
                    type: string
                  stepsExecuted:
                    type: array
                    items:
                      type: object
                      properties:
                        stepID:
                          type: string
                        status:
                          type: string
                        metadata:
                          type: object
                          additionalProperties: true
                  output:
                    type: object
                    additionalProperties: true
components:
  schemas:
    Workflow:
      type: object
      properties:
        firstStep:
          type: string
          description: ID of the first step in the workflow
        inputData:
          type: object
          additionalProperties: true
          description: Arbitrary data object
        services:
          type: object
          properties:
            openai:
              type: object
              additionalProperties: true
            twilio:
              type: object
              additionalProperties: true
        contacts:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              phoneNumber:
                type: string
        steps:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              type:
                type: string
              description:
                type: string
              instructions:
                type: string
              events:
                type: array
                items:
                  type: object
                  properties:
                    type:
                      type: string
                    description:
                      type: string
                    nextStepID:
                      type: string
              properties:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    type:
                      type: string
                    value:
                      type: string
                    description:
                      type: string
              config:
                type: object
                additionalProperties: true
              contactID:
                type: string
              message:
                type: string
              replies:
                type: array
                items:
                  type: object
                  properties:
                    description:
                      type: string
                    nextStepID:
                      type: string
              fallback:
                type: object
                properties:
                  waitTimeInSeconds:
                    type: integer
                  nextStepID:
                    type: string